# IDE
/.idea/
/.vscode/
*.suo
*.user
.vs/
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries
**/.idea/httpRequests/
**/.idea/**/dataSources/
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

# .NET
**/bin/
**/obj/
*.csproj.user
/dotnet/RemitClient/appsettings.Test.json
/dotnet/RemitClient/appsettings.Prod.json
/dotnet/RemitClient/data

# Node.js
node_modules/
/nodeJs/.env
/nodeJs/data

# Python
__pycache__/
*.pyc
/python/.venv
/python/data
/python/settings.json

# OS
Thumbs.db
Desktop.ini
.DS_Store

# RemitClient
*.xml
